---
import SizeSelector from "./SizeSelector.astro";
import ranchoJerusalenImage from "../../images/rancho-jerusalen-2.jpg";
import hotSauceImage from "../../images/hot-sauce.jpg";
import chiliPowderImage from "../../images/chili-powder.jpg";
import ResponsiveImage from "../ResponsiveImage.astro";
const { product } = Astro.props;

const productImage = product.metadata.slug === "hot-sauce" ? hotSauceImage : chiliPowderImage;
---

<!-- Product -->
<div class="relative bg-gray-900">
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
        <ResponsiveImage
            src={ranchoJerusalenImage}
            alt={product.name + " Antonito's Pepper Company"}
            class="h-full w-full object-cover object-center"
        />
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-90">
    </div>
    <div
        id="product-main-content"
        class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 sm:pb-32 sm:pt-24 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 relative"
    >
        <!-- Product details -->
        <div class="lg:max-w-lg lg:self-end">
            <nav aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-2">
                    <li>
                        <div class="flex items-center text-sm">
                            <a
                                href="/"
                                class="font-medium text-gray-400 hover:text-gray-600"
                                >Products</a
                            >
                            <svg
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                class="ml-2 h-5 w-5 flex-shrink-0 text-gray-400"
                            >
                                <path
                                    d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"
                                ></path>
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center text-sm">
                            <a
                                href="#"
                                class="font-medium text-white hover:text-gray-900"
                                >{product.name}</a
                            >
                        </div>
                    </li>
                </ol>
            </nav>

            <div class="mt-4">
                <h1
                    class="text-3xl font-bold tracking-tight text-white font-serif sm:text-4xl"
                >
                    {product.name}
                </h1>
            </div>

            <section aria-labelledby="information-heading" class="mt-4">
                <h2 id="information-heading" class="sr-only">
                    Product information
                </h2>

                <div class="flex items-center">
                    <p class="text-lg text-green-500 font-bold sm:text-xl">
                        ${product.default_price.unit_amount / 100}
                    </p>
                </div>

                <div class="mt-4 space-y-6">
                    <p class="text-base text-white">
                        {product.description}
                    </p>
                </div>

                <div class="mt-6 flex items-center">
                    <svg
                        class="h-5 w-5 flex-shrink-0 text-green-500"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                            clip-rule="evenodd"></path>
                    </svg>

                    <p class="ml-2 text-sm text-gray-300">
                        In stock and ready to ship
                    </p>
                </div>
            </section>
        </div>

        <!-- Product image -->
        <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
            <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg">
                <ResponsiveImage
                    src={productImage}
                    alt="Light green canvas bag with black straps, handle, front zipper pouch, and drawstring top."
                    class="h-full w-full object-cover object-center"
                />
            </div>
        </div>

        <!-- Product form -->
        <div
            class="mt-10 lg:col-start-1 lg:row-start-2 lg:max-w-lg lg:self-start"
        >
            <section aria-labelledby="options-heading">
                <h2 id="options-heading" class="sr-only">Product options</h2>

                <div class="mt-10">
                    <button
                        id="checkout-button"
                        type="submit"
                        class="flex w-full items-center justify-center rounded-md border border-transparent bg-antonito-red px-8 py-3 text-base font-medium text-white hover:bg-antonito-tan focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
                        data-product-id={product.id}
                        data-product-price={product.default_price.id}
                        >Get the Sauce</button
                    >
                </div>
                <div class="mt-6 text-center">
                    <a href="#" class="group inline-flex text-base font-medium">
                        <svg
                            class="mr-2 h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                            ></path>
                        </svg>
                        <span class="text-gray-200 hover:text-gray-400"
                            >Really Good Guarantee</span
                        >
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    import { createCheckoutSession } from "../../api/stripe";

    document.getElementById("checkout-button")?.addEventListener("click", async (event) => {
        const button = event.target as HTMLButtonElement;

        const response = await fetch('/api/checkout', {
            method: 'POST',
            body: JSON.stringify({ productId: button.dataset.productId, productPrice: button.dataset.productPrice })
        });

        const data = await response.json();
        console.log(data);

        window.location.href = data.checkoutUrl;
    });
</script>
